 html {

    width: 100%;
    height: 100%; 

}

body {
    
    background: url(https://wallpapercave.com/wp/ZQXE9wI.jpg);
    background-size: 100%;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    
}

.parrent {

    width: 100%;
    height: 100%;
}

.container {

    width: 100%;
    height: 3%;
    background: greenyellow;
    position: sticky;
    top: 0;

}